.login{
   height: 100vh;
   display:grid;
   place-items: center;
   background-color: black;
}

.login > img{
   width:100%;
   max-width: 350px;
}

.login > a{
   padding:20px;
   border-radius: 30px;
   background-color: #1db954;
   font-weight:700;
   color:white;
   text-decoration: none;
}