.sidebar{
   border: 1px solid black;
   height: 100vh;
   min-width: 230px;
   flex: 0.2;
   padding: 0 10px;
   color: white;
   box-sizing: border-box;
   background-color: #040404;
}

.sidebar > hr{
   border: 1px solid #282828;
   width: 90%;
   margin: 10px auto;
}

.sidebar__logo{
   height: 65px;
   padding: 10px;
   margin-right: auto;
}

.sidebar__title{
   font-weight: 600;
   margin-left: 10px;
}
